<div class="container">

 <form action= "/posts/<%= @post.id %>/edit" method="POST" class="basic-grey">
    <h1>Post something
        <!-- <span>Please fill all the texts in the fields.</span>-->
    </h1>
    <label>
        <span>Your Name:</span>
        <input id="author" type="text" name="author" value= "<%= @post.author %>"/>
    </label>

   <!--  <label>
        <span>Your Email :</span>
        <input id="email" type="email" name="email" placeholder="Valid Email Address" />
    </label> -->
     <label>
        <span>Title:</span>
        <input id="title" type="text" name="title" value= "<%= @post.title %>" />
    </label>
    <label>
        <span>Content :</span>
        <textarea id="message" name="content"> <%= @post.content %> </textarea>
    </label>
    <label>
        <span>Tags:</span>
        <% @tag.each do |t| %>
            <% checked = false %>
          <% @post.tags.each do |tag| %>
            <% if t.id == tag.id  %>
               <% checked = true %> 
               <% end %>

         <% end %>
            <% if checked  %>
              <input type = "checkbox" name = "key[<%= t.tag_name %>]" value = "<%= t.id %>" checked/> <%= "#{t.tag_name}" %>
            <% else %>
              <input type = "checkbox" name = "key[<%= t.tag_name %>]" value = "<%= t.id %>" /> <%= "#{t.tag_name}" %>
              <% end %>
        <% end %>
    </label>

     <label>
        <span>&nbsp;</span>

        <input type="Submit" class="button" value="Post" />
    </label>
</form>
</div>

<% if !@error_msg.nil? %>
<% @error_msg.each do |v| %>
  <%=  v %> <br>
  <% end %>
<% end %>
